/* Universal Styles */


/* Header */

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;

}

header #logo {
  color: MediumAquamarine;
}

img {
  display: flex;

}

nav {
  display: flex;

}

nav li {
  display: inline-block;

}
/* Content */

.content {
  display: flex;
  border: thin solid Black;

}

.column large {
  width: 630px;
  display: flex;
  border: thin solid Black;

}

.photoheadline1 {
  display: flex;
  border: thin solid Black;

}

.article {
  display: flex;
  border: thin solid Black;

}

.article2 {
  display: flex;
  border: thin solid Black;

}

.photoheadline2 {
  display: flex;
  border: thin solid Black;
}

.column medium {
  width: 300px;
  display: flex;
  border: thin solid Black;
}

.column small {
  width: 240px;
  display: flex;
  border: thin solid Black;

}

.newsbites {
  display: flex;
  border: thin solid Black;

}
