/* Universal Styles */


/* Header */

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;

}

header #logo {
  color: MediumAquamarine;
}

img {
  display: flex;

}

nav {
  display: flex;

}

nav li {
  display: inline-block;

}
/* Content */

.content {
  display: flex;
  border: thin solid Black;

}

.column.large {
  width: 630px;
  display: flex;
  border: thin solid Black;
  flex-direction: column;

}

.imagecont {
  display: flex;
  border: thin solid Black;

}

.photoheadline1 {


}

.story {
  border: thin solid Black;

}

.photoheadline2 {

}

.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: thin solid Black;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
  border: thin solid Black;

}

.newsbites {
  display: flex;
  flex-direction: column;
  border: thin solid Black;

}
